<!doctype html>
<html lang="en" ng-app="lab" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- https://dribbble.com/shots/1764344-HelpCreature-Welcome-Email -->
  <title>HelpCreature // Dropping Waves</title>
  <meta name="description" content="Dropping wave inspired by the work of Allan Grinshtein" />
  <meta name="keywords" content="Help creature // Dropping Waves" />
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="HelpCreature // Dropping Waves"/>
  <meta property="og:url" content="https://github.com/ahsx/lab-helpcreature-dropping-waves"/>
  <meta property="og:site_name" content="HelpCreature // Dropping Waves"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="{{image}}"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./statics/styles/vendors.css"/>
  <link rel="stylesheet" href="./statics/styles/app.css"/>

  <description 
    title="HelpCreature"
    subtitle="Dropping Waves"
    sources="https://github.com/ahsx/lab-helpcreature-dropping-waves"
    demo="https://ahsx.github.io/lab-helpcreature-dropping-waves"
  >
  </description>
</head>
<body class="defaultPage">
  <sprite></sprite>

  <div id="main" class="{{openSlide}}" ng-class="{open:open}">

    <div class="alternate">
      
      <!-- Start::About -->
      <article id="about" class="pane">
        <div class="content">
          <div class="clearfix">
            <ul class="social left">
              <li>
                <a href="//facebook.com/sharer/sharer.php?u={{demo}}" title="Facebook" target="_blank"><icon label="icon-facebook"></icon></a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?original_referer={{demo}}&text={{title}} /// {{subtitle}}&tw_p=tweetbutton&url={{demo}}&via=beg_sleep&related=beg_sleep" title="Twitter" target="_blank"><icon label="icon-twitter"></icon></a>
              </li>
              <li>
                <a href="mailto:?subject={{title}} /// {{subtitle}}&body={{demo}}" title="Mail"><icon label="icon-paperplane"></icon></a>
              </li>
              <li>
                <a href="#" title="Link" ng-click="saveToClipboard(demo)"><icon label="icon-link"></icon></a>
              </li>
            </ul>

            <h1 class="right">Help-Creature</h1>
            <h2 class="right">Dropping Waves</h1>
          </div>
          <p>
From all times and all ages, the men considered the sea as an inspired muse whistling infinite inspiration.Literature, music, dance or even interior decoration displays plenty of examples. It is in <a href="https://dribbble.com/Allan" target="_blank">Allan Grinshtein’s</a> work that I've found not only the sweet smell of the sea, but <a href="https://dribbble.com/shots/1764344-HelpCreature-Welcome-Email">sumptuous waves</a>, even if these ones seem to fall from the sky.</p>

          <p>Let’s stop the divagation here, having no tangible evidence maybe the waves are in fact trees ?</p>
          <p>The original: <a href="https://dribbble.com/shots/1764344-HelpCreature-Welcome-Email">https://dribbble.com/shots/1764344-HelpCreature-Welcome-Email</a></p>
        </div>
      </article>
      <!-- End::About -->


      <!-- Start::Options -->
      <article id="options" class="pane">
        <form class="content">
          
          <!-- global -->
          <section>
            <header class="green">Global</header>

            <!-- Thickness -->
            <range 
              min="10" 
              max="100" 
              value="55" 
              title="Thickness" 
              model="options.thickness">
            </range>

            <!-- Amplitude -->
            <range 
              min="0" 
              max="200" 
              value="50" 
              title="Amplitude" 
              model="options.amplitude">
            </range>
            
            <!-- Frequency -->
            <range 
              min="0" 
              max="0.03" 
              value="0.004" 
              title="Frequency" 
              step="0.001"
              precision="3"
              model="options.frequency">
            </range>

            <!-- Theme -->
            <dropdown 
              title="Theme" 
              source="options.themes"
              model="options.theme"
            >
            </dropdown>

          </section>

          <section>
            <header class="red">Stage</header>

            <!-- width -->
            <range 
              min="10" 
              max="100" 
              value="100" 
              title="Width (%)"
              model="options.stageWidth"
            ></range>

            <!-- height -->
            <range 
              id="stageHeight" 
              min="10" 
              max="100" 
              value="100" 
              title="Height (%)"
              model="options.stageHeight"
            ></range>

          </section>

          <section>
            <header class="blue">Controls</header>

            <fieldset>
              <div class="row controls">
              <button class="reset field" type="button">reset</button>
              <button 
                href="{{saveURL}}" 
                class="button save field" 
                type="button" 
                download="file.png" 
                ng-click="saveCanvas()"
                >save</button>
              </div>
            </fieldset>
          </section>

        </form>
      </article>
      <!-- End::Options -->
    </div>
    

    <!-- Start::Pusher -->
    <div class="pusher">

      <!-- Start::Toolbar -->
      <toolbar>
        <toolbaritem href="#options" title="Options" icon="icon-font-cog">
          <icon label="icon-cog"></icon>
        </toolbaritem>

        <toolbaritem href="#about" title="About" icon="icon-font-eye">
          <icon label="icon-eye"></icon>
        </toolbaritem>

      </toolbar>
      <!-- End::Toolbar -->


      <!-- Start::Screenplay -->
      <div id="screenplay" ng-controller="ScreenplayController">
        <div class="legend">
          <h1>{{title}} ///<em>{{subtitle}}</em></h1>
        </div>

        <div class="container">
          
          <div class="border">
            <div class="cut topleft"></div>
            <div class="cut topright"></div>
            <div class="cut bottomright"></div>
            <div class="cut bottomleft"></div>
            <canvas id="display"></canvas>
          </div>
        </div>

      </div>
      <!-- End::Screenplay -->

    </div>
    <!-- End::Pusher -->

  </div>
    

  <script type="text/javascript" src="./statics/libs/vendors.min.js"></script>
  <script type="text/javascript" src="./statics/libs/app.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-439673-16', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
